<!DOCTYPE html>
<html>

<head>
    <title> Character Sheet V0.0.0</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <!-- You should properly set the path from the main file. -->
</head>

<body>
    <div class="row">
        <div class="column">
            <h1 style="text-align: center">Investigator</h1>
        </div>
        <div class="column column-offset-50">
            <a style="margin-top: 10px" class="button" href="random"> Generate Random Investigator</a>
        </div>
    </div>
    <div class="container">
        <!-- Basic Info -->
        <div class="row">
            <div class="column">
                Name: {{res.investigator.name}}<br>
                Age: {{res.investigator.age}}<br>
                Sex: {{res.investigator.sex}}<br>
                Birthplace: {{res.investigator.birthplace}}<br>
                Residence: {{res.investigator.residence}}<br>
                Occupation: {{res.investigator.occupation.title}}<br>
                Credit Rating Min: {{res.investigator.occupation.credit_rating_min}}<br>
                Credit Rating Max: {{res.investigator.occupation.credit_rating_max}}<br>
            </div>
            <div class="column column-offset-25">
                <img style="height: 200px; width: 200px" src="{{res.portrait }}" alt="Investigator portrait">
            </div>
        </div>
        <hr>
        {% block inv_attributes %}
        {% endblock %}
        <!-- Skill -->
        <h4 style="text-align: center; border: 1px solid grey;"> Skills</h4>
        <div style="font-size: 15px;" class="row">
            <div class="column">
                {% for skill in res.skills|slice:":29" %}
                <div class="row">
                    <div class="column">
                        {{skill.0}}:
                    </div>
                    <div style="text-align: right" class="column">
                        <b>{{skill.1|stringformat:"02d"}}</b>|
                        <b>{{skill.2|stringformat:"02d"}}</b>|
                        <b>{{skill.3|stringformat:"02d"}}</b>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="column">
                {% for skill in res.skills|slice:"29:58" %}
                <div class="row">
                    <div class="column">
                        {{skill.0}}:
                    </div>
                    <div style="text-align: right" class="column">
                        <b>{{skill.1|stringformat:"02d"}}</b>|
                        <b>{{skill.2|stringformat:"02d"}}</b>|
                        <b>{{skill.3|stringformat:"02d"}}</b>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="column">
                {% for skill in res.skills|slice:"58:" %}
                <div class="row">
                    <div class="column">
                        {{skill.0}}:
                    </div>
                    <div style="text-align: right" class="column">
                        <b>{{skill.1|stringformat:"02d"}}</b>|
                        <b>{{skill.2|stringformat:"02d"}}</b>|
                        <b>{{skill.3|stringformat:"02d"}}</b>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <!-- Weapons -->
        <h4 style="text-align: center; border: 1px solid grey;"> Weapons </h4>
        <table>
            <thead>
                <th>Weapon</th>
                <th>Regular</th>
                <th>Hard</th>
                <th>Extreme</th>
                <th>Damage</th>
                <th>Range</th>
                <th>Attacks</th>
                <th>Ammo</th>
                <th>Malf</th>
            </thead>
            <tbody>
                {% for weapon in res.weapons %}
                <tr>
                    <td>{{ weapon.item.properties.title }}</td>
                    <td>{{ weapon.item.properties.skill_value.0 }}</td>
                    <td>{{ weapon.item.properties.skill_value.1 }}</td>
                    <td>{{ weapon.item.properties.skill_value.2 }}</td>
                    <td>{{ weapon.item.properties.damage }}</td>
                    <td>{{ weapon.item.properties.base_range }}</td>
                    <td>{{ weapon.item.properties.uses_per_round }}</td>
                    <td>{{ weapon.item.properties.bullets_in_gun_mag }}</td>
                    <td>{{ weapon.item.properties.malfunction }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <!-- Backstory -->
        <h4 style="text-align: center; border: 1px solid grey;">Backstory</h4>
        <div class="row">
            <div class="column">
                <b>Personal Description:</b>
                <p>{{res.investigator.description}}</p>
                <b>Ideolofy/Beliefs:</b>
                <p>{{res.investigator.ideologies}}</p>
                <b>Signficant People:</b>
                <p>{{res.investigator.significant_people}}</p>
                <b>Meaningful Locations:</b>
                <p>{{res.investigator.meaningful_locations}}</p>
                <b>Treasured Possesions:</b>
                <p>{{res.investigator.treasured_posessions}}</p>
            </div>
            <div class="column">
                <b>Traits:</b>
                <p>{{res.investigator.traits}}</p>
                <b>Injuries & Scars:</b>
                <p>{{res.investigator.injure_scars}}</p>
                <b>Phobias & Manias:</b>
                <ul>
                    {% for phobia in res.phobias %}
                    <li>{{phobia}}</li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for mania in res.manias %}
                    <li>{{mania}}</li>
                    {% endfor %}
                </ul>
                <b>Arcane: Spells, Tomes & Artifacts:</b>
                <ul>
                    {% for spell in res.arcane.spells %}
                    <li>{{spell}}</li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for artifact in res.arcane.artifacts %}
                    <li>{{artifact}}</li>
                    {% endfor %}
                </ul>
                <b>Encounters with strange entities:</b>
                <p>{{res.investigator.encounters_with_strange_entities}}</p>
            </div>
        </div>
        <hr>
        <!-- Gear & Posession -->
        <h4 style="text-align: center; border: 1px solid grey;"> Gear & Posessions </h4>
        <div class="row">
            <div class="column">
                <table>
                    <thead>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </thead>
                    <tbody>
                        {% for gear in res.gear %}
                        <tr>
                            <td>{{gear.item.properties.title}}</td>
                            <td>{{gear.item.properties.price}}</td>
                            <td>{{gear.stock}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>