<!DOCTYPE html>
<html>

<head>
    <title> Character Sheet V0.0.0</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <!-- You should properly set the path from the main file. -->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <h1 style="text-align: center">Investigator</h1>
            </div>
            <div class="column column-offset-50">
                <a style="margin-top: 10px" class="button" href="random"> Generate Random Inv.</a>
            </div>
        </div>
        <!-- Basic Info -->
        {% include "inv_basic_info.html" %}
        <!-- Attributes -->
        {% include "inv_attributes.html" %}
        <!-- Skill -->
        {% include "inv_skills.html" %}
        <!-- Weapons -->
        {% include "inv_weapons.html" %}
        <!-- Backstory -->
        {% include "inv_backstory.html" %}
        <!-- Gear & Posession -->
        {% include "inv_gear.html" %}
    </div>
</body>

</html>