<!-- Attributes -->
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="cartd-title"> Attributes </h4>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                STR:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.STR.0}}</b>|
                <b>{{res.attributes.STR.1}}</b>|
                <b>{{res.attributes.STR.2|stringformat:"02d"}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                CON:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.CON.0}}</b>|
                <b>{{res.attributes.CON.1}}</b>|
                <b>{{res.attributes.CON.2|stringformat:"02d"}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                SIZ:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.SIZ.0}}</b>|
                <b>{{res.attributes.SIZ.1}}</b>|
                <b>{{res.attributes.SIZ.2|stringformat:"02d"}}</b>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                DEX:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.DEX.0}}</b>|
                <b>{{res.attributes.DEX.1}}</b>|
                <b>{{res.attributes.DEX.2|stringformat:"02d"}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                APP:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.APP.0}}</b>|
                <b>{{res.attributes.APP.1}}</b>|
                <b>{{res.attributes.APP.2|stringformat:"02d"}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                INT:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.INT.0}}</b>|
                <b>{{res.attributes.INT.1}}</b>|
                <b>{{res.attributes.INT.2|stringformat:"02d"}}</b>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                POW:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.POW.0}}</b>|
                <b>{{res.attributes.POW.1}}</b>|
                <b>{{res.attributes.POW.2|stringformat:"02d"}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                EDU:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.attributes.EDU.0}}</b>|
                <b>{{res.attributes.EDU.1}}</b>|
                <b>{{res.attributes.EDU.2|stringformat:"02d"}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                MOV:
            </div>
            <div style="text-align: right" class="col">
                <b>{{res.investigator.move}}</b>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- Derivative attributes -->
{% include "inv_deriv_attributes.html" %}
<hr>
<!-- Build + DMG Bonus-->
<div class="row">
    <div class="col">
        Build: <b>{{res.investigator.build.1}}</b>
    </div>
    <div class="col offset-md-7">
        Damage Bonus: <b>{{res.investigator.build.0}}</b>
    </div>
</div>
<hr>