<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="cartd-title"> Gear & Posessions </h4>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <th class="col">Title</th>
                <th class="col">Price</th>
                <th class="col">Stock</th>
            </thead>
            <tbody id="inv-gear">
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(
        function () {
            $.ajax({
                url: "{% url 'inv_gear' res.investigator.uuid %}",
                success: function (res) {
                    for (item of res.gear) {
                        $("#inv-gear").append(
                            `<tr>
                                <td>${item["title"]}</td>
                                <td>${item["price"]}</td>
                                <td>${item["stock"]}</td>
                            </tr >`
                        )
                    }
                },
                error: function (res) {
                    console.log(res);
                }
            })
        });
</script>