<form id="inv-deriv-attrs" class="align-items-center" action={% url "inv_deriv_attrs" res.investigator.uuid %}
    method="POST">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Health:</div>
                </div>
                <input type="number" id="inv-health-inp" class="form-control" max=20 aria-describedby='inv-health'>
            </div>
        </div>

        <div class="col">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Sanity:</div>
                </div>
                <input type="number" id="inv-sanity-inp" class="form-control" max=99 min=0
                    aria-describedby='inv-sanity'>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Luck:</div>
                </div>
                <input type="number" id="inv-luck-inp" class="form-control" max=99 min=0 aria-describedby='inv-luck'>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Magic Points:</div>
                </div>
                <input type="number" id="inv-mp-inp" class="form-control" max=24 min=0 aria-describedby='inv-mp-points'>
            </div>
        </div>
    </div>
</form>