<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="cartd-title"> Skills </h4>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
<div style="font-size: 15px;" class="row">
    <div class="col">
        {% for skill in res.skills|slice:":35" %}
        <div class="row">
            <div class="col">
                {{skill.0}}:
            </div>
            <div style="text-align: right" class="col">
                <b>{{skill.1|stringformat:"02d"}}</b>|
                <b>{{skill.2|stringformat:"02d"}}</b>|
                <b>{{skill.3|stringformat:"02d"}}</b>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        {% for skill in res.skills|slice:"35:71" %}
        <div class="row">
            <div class="col">
                {{skill.0}}:
            </div>
            <div style="text-align: right" class="col">
                <b>{{skill.1|stringformat:"02d"}}</b>|
                <b>{{skill.2|stringformat:"02d"}}</b>|
                <b>{{skill.3|stringformat:"02d"}}</b>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        {% for skill in res.skills|slice:"71:" %}
        <div class="row">
            <div class="col">
                {{skill.0}}:
            </div>
            <div style="text-align: right" class="col">
                <b>{{skill.1|stringformat:"02d"}}</b>|
                <b>{{skill.2|stringformat:"02d"}}</b>|
                <b>{{skill.3|stringformat:"02d"}}</b>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>