<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="cartd-title"> Backstory </h4>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
<div class="row" id="inv-backstory">
    <div class="col">
        <b id="inv-description">Personal Description:</b>
        <b id="inv-ideologies">Ideology/Beliefs:</b>
        <b id="inv-significant-people">Signficant People:</b>
        <b id="inv-meaningful-locations">Meaningful Locations:</b>
        <b id="inv-treasured-possessions">Treasured Possesions:</b>
    </div>
    <div class="col offset-md-1">
        <b id="inv-traits">Traits:</b>
        <b id="injuries-scars">Injuries & Scars:</b>
        <b id="inv-phobias-manias">Phobias & Manias:</b>
        <ul id="inv-phobias">
        </ul>
        <ul id="inv-manias">
        </ul>
        <span id="inv-arcane"><b>Arcane Tomes, Spells & Artifacts:</b></span><br>
        <span><i>Spells:</i></span>
        <ul id="inv-spells" style="list-style-type: none;">
        </ul>
        <span><i>Artifacts:</i></span>
        <ul id="inv-artifacts">
        </ul>
        <b id="inv-encounters">Encounters with strange entities:</b>
    </div>
</div>
<hr>