<h4 style="text-align: center; border: 1px solid grey;">Backstory</h4>
<div class="row">
    <div class="column">
        <b>Personal Description:</b>
        <p>{{res.investigator.description}}</p>
        <b>Ideology/Beliefs:</b>
        <p>{{res.investigator.ideologies}}</p>
        <b>Signficant People:</b>
        <p>{{res.investigator.significant_people}}</p>
        <b>Meaningful Locations:</b>
        <p>{{res.investigator.meaningful_locations}}</p>
        <b>Treasured Possesions:</b>
        <p>{{res.investigator.treasured_posessions}}</p>
    </div>
    <div class="column">
        <b>Traits:</b>
        <p>{{res.investigator.traits}}</p>
        <b>Injuries & Scars:</b>
        <p>{{res.investigator.injure_scars}}</p>
        <b>Phobias & Manias:</b>
        <ul>
            {% for phobia in res.phobias %}
            <li>{{phobia}}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for mania in res.manias %}
            <li>{{mania}}</li>
            {% endfor %}
        </ul>
        <span><b>Arcane Tomes, Spells & Artifacts:</b></span><br>
        <span><i>Spells:</i></span>
        <ul style="list-style-type: none;">
            {% for spell in res.arcane.spells %}
            <li>
                <dl>
                    <dt><u>{{spell.spell.name}}</u> ({{spell.spell.cost}})</dt>
                    <dd>
                        <span><b>Casting Time:</b></span> {{spell.spell.casting_time}}<br>
                        <span><b>Desc.:</b></span> {{spell.spell.description}}<br>
                        <span><b>Deeper Magic:</b></span>{{spell.spell.deeper_magic}}<br>
                        <span><b>Alt Names:</b></span> <i>{{spell.spell.alternative_names}}</i>
                    </dd>

                </dl>
            </li>
            {% endfor %}
        </ul>
        <span><i>Artifacts:</i></span>
        <ul>
            {% for artifact in res.arcane.artifacts %}
            <li>{{artifact}}</li>
            {% endfor %}
        </ul>
        <b>Encounters with strange entities:</b>
        <p>{{res.investigator.encounters_with_strange_entities}}</p>
    </div>
</div>
<hr>