<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="cartd-title"> Skills </h4>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col">
                <a id="inv-skills-edit" class="btn btn-primary"><i class="bi bi-unlock"></i></a>
            </div>
            <div class="col">
                <a id="inv-skills-shuffle" class="btn btn-secondary disabled"
                    href="{% url 'inv_skills_shuffle' res.investigator.uuid %}"><i class="bi bi-shuffle"></i></a>
            </div>
            <div class="col">
                <a id="inv-skills-reset" class="btn btn-dark disabled"
                    href="{% url 'inv_skills_reset' res.investigator.uuid %}"><i class="bi bi-arrow-repeat"></i></a>
            </div>
        </div>
    </div>
</div>
<br>
<form id="inv-skills" style="font-size: 12px;" action="" class="row form-group mb-3" method="POST">
    {% csrf_token %}
</form>
<hr>