<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="cartd-title"> Gear & Posessions </h4>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <th class="col">Title</th>
                <th class="col">Price</th>
                <th class="col">Stock</th>
            </thead>
            <tbody id="inv-gear">
            </tbody>
        </table>
    </div>
</div>