<h4 style="text-align: center; border: 1px solid grey;"> Weapons </h4>
<table>
    <thead>
        <th>Weapon</th>
        <th>Reg.</th>
        <th>Hard</th>
        <th>Ext.</th>
        <th>Dmg.</th>
        <th>Range</th>
        <th>Attacks</th>
        <th>Bullets in mag</th>
        <th>Ammo.</th>
        <th>Malf.</th>
    </thead>
    <tbody>
        {% for weapon in res.weapons %}
        <tr>
            <td>{{ weapon.properties.title }}</td>
            <td>{{ weapon.properties.skill_value.0 }}</td>
            <td>{{ weapon.properties.skill_value.1 }}</td>
            <td>{{ weapon.properties.skill_value.2 }}</td>
            <td>{{ weapon.properties.damage }}</td>
            <td>{{ weapon.properties.base_range }}</td>
            <td>{{ weapon.properties.uses_per_round }}</td>
            <td>{{ weapon.properties.bullets_in_gun_mag }}</td>
            <td>{{ weapon.properties.ammo }}</td>
            <td>{{ weapon.properties.malfunction }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>