<nav class="navbar fixed-top navbar-light navbar-light bg-light">
    <div id="model-btn" class="container-fluid justify-content-between">
        <div>
            <button type="button" class="btn btn-success listing-btn col mr-2" value="occupations">occupations</button>
            <button type="button" class="btn btn-success listing-btn col mr-2" value="skills">skills</button>
            <button type="button" class="btn btn-success listing-btn col mr-2" value="phobias">phobias</button>
            <button type="button" class="btn btn-success listing-btn col mr-2" value="items">items</button>
            <button type="button" class="btn btn-success listing-btn col mr-2" value="spells">spells</button>
            <button type="button" class="btn btn-success listing-btn col mr-2" value="manias">manias</button>
        </div>
        <a class="btn btn-primary btn-large" href="random"> Generate Random Inv.</a>
</nav>