__pycache__/
*.pyc
*.log
*.pot
*.py[cod]
coc/db.sqlite3
coc/coc/db.sqlite3
db.sqlite3
coc/creator/migrations/*
coc/market/migrations/*
coc/creator/fixtures/occupation_skills/*
coc/uploads/*
*/.DS_Store
.DS_Store
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
env/
